
/* big tablet to 1200px (widths smaller than 1140px row) */
@media only screen and (max-width: 1200px) {
    
    .hero-text-box {
        position: absolute;
        width: 100%;
        padding: 0 2%;
    }

    .row { padding: 0 2%; }
}


/* small tablet to big tablet: 768 - 1023px */
@media only screen and (max-width: 1023px) {

    body { font-size: 18px; }
    section { padding: 60px 0; }

    .long-copy {
        width: 80%;
        margin-left: 10%;
    }

    .steps-box { margin-top: 10px; }
    .steps-box:last-child { margin-top: 10px; }
    .works-step { margin-bottom: 40px; }
    .works-step:last-of-type { margin-bottom: 60px; }

    .app-screen { width: 50%; }

    .btn-app img {
        height: 47px;
        width: 150px;
    }

    .icon-small {
        width: 17px;
        margin-right: 5px;
    }
    .city-feature { font-size: 80%; }

    .section-cities h3 {
        font-size: 100%;
    }

    .plan-box {
        width: 100%;
        margin-left: 0;
        font-size: 20px;
    }

    .plan-price {
        font-size: 250%;
        font-weight: 300;
    }

    .contact-form { width: 80%; }
}


/* Small phones to small tablets: 481 - 767px */
@media only screen and (max-width: 767px) {

    body { font-size: 16px; }
    section { padding: 30px 0; }

    .row { padding: 0 4%; }
    .hero-text-box { margin-top: 10px; }
    .col {
        width: 100%;
        margin: 0 0 4% 0;
    }

    .social-links { float: none; }
    .social-links li { padding: 20px 25px; }

    .main-nav { display: none; }

    .mobile-nav-icon { display: inline-block; }

    .main-nav {
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }

    .main-nav li {
        display: block;
    }

    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }

    .sticky .main-nav { margin-top: 10px; }
    
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    h1 { font-size: 180%; }
    h2 { font-size: 150%; }
    
    .long-copy {
        width: 100%;
        margin-left: 0;
    }

    .steps-box:first-child { text-align: center; }

    .app-screen { width: 40%; }

    .works-step div {
        height: 40px;
        width: 45px;
        font-size: 120%;
        margin-right: 15px;
        padding: 6px;
    }

    .works-step { margin-bottom: 30px; }
    .works-step:last-of-type { margin-bottom: 40px; }

    .works-step div {
        margin-top: -7px;
    }

    .section-cities h3 {
        font-size: 200%;
    }

    .city-feature {
        font-size: 140%;
    }
}


/* Small phones: 0 - 480px */
@media only screen and (max-width: 480px) {

    section { padding: 25px 0; }
    .contact-form { width: 100%; }

    .footer-nav {
        float: none;
    }

    .footer-nav li:last-child {
        padding: 20px 10px;
    }

    .footer-nav li {
        padding: 0 20px;
    }



    .social-links {
        float: none;
        margin-left: 13px;
    }
    .social-links li {
        padding: 40px 20px 20px 20px;
        margin-left: 0px;
    }
}


@media only screen and (max-width: 420px) {
    .footer-nav li {
        padding: 10px 15px;
    }

    .social-links li {
        padding-left: 0px 20px;
    }

    h1 {
        padding-top: 90px;
    }

    .btn-ghost:link,
    .btn-ghost:visited {
        margin-top: 10px;
    }

    /* .footer-nav li {
        margin-left: -20px;
    }

    .footer-nav {
        float: left;
        margin-left: -30px;
        margin-right: 0px;
    } */

}